In [6]:
import pandas as pd

In [7]:
merged_review = pd.read_csv("merged_review_business.csv")

/var/tmp/ipykernel_5806/3769299552.py:1: DtypeWarning: Columns (0,5,6,7,17) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_review = pd.read_csv("merged_review_business.csv")

In [8]:
merged_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5126138 entries, 0 to 5126137
Data columns (total 26 columns):
 #   Column        Dtype
---  ------        -----
 0   Unnamed: 0    object
 1   review_id     object
 2   user_id       object
 3   business_id   object
 4   stars_x       float64
 5   useful        object
 6   funny         object
 7   cool          object
 8   text          object
 9   date          object
 10  year          float64
 11  month         float64
 12  day_of_week   float64
 13  name          object
 14  address       object
 15  city          object
 16  state         object
 17  postal_code   object
 18  latitude      float64
 19  longitude     float64
 20  stars_y       float64
 21  review_count  float64
 22  is_open       float64
 23  attributes    object
 24  categories    object
 25  hours         object
dtypes: float64(9), object(17)
memory usage: 1016.8+ MB

In [9]:
# convert data type for filtering
merged_review[['useful', 'funny', 'cool']] = merged_review[['useful', 'funny', 'cool']].apply(pd.to_numeric, errors='coerce')

In [10]:
# create a new column to filter dataset
merged_review['review_relelvance'] = merged_review['useful'] + merged_review['funny'] + merged_review['cool']

In [7]:
merged_review.describe()

,stars_x,useful,funny,cool,year,month,day_of_week,latitude,longitude,stars_y,review_count,is_open,review_relelvance
count,5.126137e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126136e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126135e+06,5.126136e+06
mean,3.802053e+00,1.010931e+00,3.120772e-01,5.002046e-01,2.016485e+03,6.431944e+00,3.146123e+00,3.589821e+01,-8.914506e+01,3.801560e+00,4.655727e+02,8.007963e-01,1.823212e+00
std,1.392969e+00,2.784273e+00,1.720867e+00,2.202156e+00,3.217365e+00,3.407204e+00,2.078064e+00,5.344874e+00,1.439362e+01,6.421224e-01,8.245235e+02,3.994016e-01,5.972363e+00
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.595191e+01,-8.680667e+01,0.000000e+00,2.756446e+01,-1.200837e+02,1.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.015000e+03,3.000000e+00,1.000000e+00,2.996033e+01,-9.024299e+01,3.500000e+00,8.000000e+01,1.000000e+00,0.000000e+00
50%,4.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.017000e+03,6.000000e+00,3.000000e+00,3.860115e+01,-8.616001e+01,4.000000e+00,2.030000e+02,1.000000e+00,0.000000e+00
75%,5.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,2.019000e+03,9.000000e+00,5.000000e+00,3.994383e+01,-7.545917e+01,4.000000e+00,4.770000e+02,1.000000e+00,2.000000e+00
max,5.000000e+00,4.200000e+02,7.920000e+02,4.040000e+02,2.022000e+03,1.200000e+01,6.000000e+00,5.367920e+01,-7.466135e+01,5.000000e+00,7.568000e+03,1.000000e+00,1.011000e+03

In [13]:
merged_review.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,postal_code,latitude,longitude,stars_y,review_count,is_open,attributes,categories,hours,review_relelvance
0,0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
1,1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0.0,0.0,0.0,This is the second time we tried turning point...,2017-05-13 17:06:55,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
2,2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4.0,2.0,0.0,1.0,The place is cute and the staff was very frien...,2017-08-08 00:58:18,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",3.0
3,3,WqgTKVqWVHDHjnjEsBvUgg,f7xa0p_1V9lx53iIGN5Sug,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0.0,0.0,0.0,We came on a Saturday morning after waiting a ...,2017-11-19 02:20:23,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0
4,4,M0wzFFb7pefOPcxeRVbLag,dCooFVCk8M1nVaQqcfTL3Q,XQfwVwDr-v0ZS3_CbbE5Xw,2.0,0.0,0.0,0.0,"Mediocre at best. The decor is very nice, and ...",2017-09-09 17:49:47,...,19454,40.210196,-75.223639,3.0,169.0,1.0,"{'AcceptsInsurance': None, 'AgesAllowed': None...","['Restaurants', 'Breakfast & Brunch', 'Food', ...","{'Friday': '7:30-15:0', 'Monday': '7:30-15:0',...",0.0

In [13]:
# drop useless columns for sentimend analysis
merged_review_filtered = m1.drop(columns=['attributes', 'hours'])

NameError: name 'm1' is not defined

In [22]:
merged_review_filtered.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,city,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories,review_relelvance
367,367,kUIo6GuLZGeWhUs1juO3tg,-G7Zkl1wIWBBmD0KRy_sCw,kxX2SOes4o-D3ZQBkiMRfA,5.0,23.0,11.0,18.0,"Zaika on Grant Avenue in Northeast Philly, is ...",2017-04-28 13:32:57,...,Philadelphia,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",52.0
381,381,wNu9HLw8ZSqmef4XlmrdNg,3QnoTcrxuafMCoTzW_AH7A,kxX2SOes4o-D3ZQBkiMRfA,5.0,24.0,13.0,23.0,Awesome find!! I can safely say after my first...,2017-03-24 10:55:39,...,Philadelphia,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",60.0
1311,1311,TWnIcUQQ1M_ShPnhSK-krA,iJQtNnEcrxdpaD132v26nQ,gebiRewfieSdtt17PTW6Zg,2.0,21.0,13.0,9.0,"Something's Dirty - very dirty, and not very g...",2016-04-23 15:21:03,...,Santa Barbara,CA,93101,34.416984,-119.695556,3.5,488.0,1.0,"['Steakhouses', 'Sushi Bars', 'Restaurants', '...",43.0
2286,2286,6LqVOdbbUPErI1q_prX90A,AHRrG3T1gJpHvtpZ-K0G_g,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,18.0,3.0,16.0,This is a very overdue update. You'll often fi...,2015-08-24 01:03:12,...,Indianapolis,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",37.0
2456,2456,QScYcBhRnHidLBEgEPYy1Q,BHDBfx4mWOdtT-ug0CPc3w,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,23.0,13.0,21.0,Oh my heavens... So pleasantly surprised to fi...,2019-05-31 19:59:28,...,Indianapolis,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",57.0

In [23]:
m1 = merged_review_filtered[merged_review_filtered['review_relelvance']>32]
m1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20234 entries, 367 to 5126033
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         20234 non-null  object
 1   review_id          20234 non-null  object
 2   user_id            20234 non-null  object
 3   business_id        20234 non-null  object
 4   stars_x            20234 non-null  float64
 5   useful             20234 non-null  float64
 6   funny              20234 non-null  float64
 7   cool               20234 non-null  float64
 8   text               20234 non-null  object
 9   date               20234 non-null  object
 10  year               20234 non-null  float64
 11  month              20234 non-null  float64
 12  day_of_week        20234 non-null  float64
 13  name               20234 non-null  object
 14  address            20128 non-null  object
 15  city               20234 non-null  object
 16  state              20234 non-null  object
 17  postal_code        20234 non-null  object
 18  latitude           20234 non-null  float64
 19  longitude          20234 non-null  float64
 20  stars_y            20234 non-null  float64
 21  review_count       20234 non-null  float64
 22  is_open            20234 non-null  float64
 23  categories         20234 non-null  object
 24  review_relelvance  20234 non-null  float64
dtypes: float64(13), object(12)
memory usage: 4.0+ MB

In [18]:
m1.to_parquet("filtered_review.parquet")

ArrowInvalid: ("Could not convert '2392064' with type str: tried to convert to int64", 'Conversion failed for column Unnamed: 0 with type object')

In [19]:
import nltk
nltk.download('punkt') 
nltk.download('punkt_tab')
nltk.download('stopwords')
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
# tokenization with lemmatization

import nltk
import string
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

# Download required NLTK resources
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

# Initialize lemmatizer
lemmatizer = WordNetLemmatizer()

# Get the set of stop words
stop_words = set(stopwords.words('english'))

# Text Preprocessing Function
def cleanup_text(text):
    if pd.isna(text):  # Handle NaN values
        return ""
    
    # Tokenization
    tokenized_text = word_tokenize(text.lower())  # Convert to lowercase and tokenize

    # Remove punctuation
    tokenized_text = [word for word in tokenized_text if word.isalnum()]

    # Remove stopwords
    tokenized_text = [word for word in tokenized_text if word not in stop_words]

    # Lemmatization
    tokenized_text = [lemmatizer.lemmatize(word) for word in tokenized_text]

    return " ".join(tokenized_text)  # Convert back to string format

# Apply cleanup function to the text column
m1["cleaned_text"] = m1["text"].apply(cleanup_text)

# Save the cleaned dataset
m1.to_csv("cleaned_yelp_reviews.csv", index=False)

# Display processed data
print(m1[["text", "cleaned_text"]].head())

[nltk_data] Downloading package punkt to /home/jupyter/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/jupyter/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/jupyter/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

                                                   text  \
367   Zaika on Grant Avenue in Northeast Philly, is ...
381   Awesome find!! I can safely say after my first...
1311  Something's Dirty - very dirty, and not very g...
2286  This is a very overdue update. You'll often fi...
2456  Oh my heavens... So pleasantly surprised to fi...

                                           cleaned_text
367   zaika grant avenue northeast philly one best r...
381   awesome find safely say first experience tasti...
1311  something dirty dirty good know three year ago...
2286  overdue update often find upcycled mechanic sh...
2456  oh heaven pleasantly surprised find amazing br...

In [16]:
m1 = pd.read_csv("cleaned_yelp_reviews.csv")

In [17]:
m1.head()

,Unnamed: 0,review_id,user_id,business_id,stars_x,useful,funny,cool,text,date,...,state,postal_code,latitude,longitude,stars_y,review_count,is_open,categories,review_relelvance,cleaned_text
0,367,kUIo6GuLZGeWhUs1juO3tg,-G7Zkl1wIWBBmD0KRy_sCw,kxX2SOes4o-D3ZQBkiMRfA,5.0,23.0,11.0,18.0,"Zaika on Grant Avenue in Northeast Philly, is ...",2017-04-28 13:32:57,...,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",52.0,zaika grant avenue northeast philly one best r...
1,381,wNu9HLw8ZSqmef4XlmrdNg,3QnoTcrxuafMCoTzW_AH7A,kxX2SOes4o-D3ZQBkiMRfA,5.0,24.0,13.0,23.0,Awesome find!! I can safely say after my first...,2017-03-24 10:55:39,...,PA,19114,40.079848,-75.025080,4.0,181.0,1.0,"['Halal', 'Pakistani', 'Restaurants', 'Indian']",60.0,awesome find safely say first experience tasti...
2,1311,TWnIcUQQ1M_ShPnhSK-krA,iJQtNnEcrxdpaD132v26nQ,gebiRewfieSdtt17PTW6Zg,2.0,21.0,13.0,9.0,"Something's Dirty - very dirty, and not very g...",2016-04-23 15:21:03,...,CA,93101,34.416984,-119.695556,3.5,488.0,1.0,"['Steakhouses', 'Sushi Bars', 'Restaurants', '...",43.0,something dirty dirty good know three year ago...
3,2286,6LqVOdbbUPErI1q_prX90A,AHRrG3T1gJpHvtpZ-K0G_g,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,18.0,3.0,16.0,This is a very overdue update. You'll often fi...,2015-08-24 01:03:12,...,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",37.0,overdue update often find upcycled mechanic sh...
4,2456,QScYcBhRnHidLBEgEPYy1Q,BHDBfx4mWOdtT-ug0CPc3w,EQ-TZ2eeD_E0BHuvoaeG5Q,5.0,23.0,13.0,21.0,Oh my heavens... So pleasantly surprised to fi...,2019-05-31 19:59:28,...,IN,46203,39.759169,-86.146494,4.0,1379.0,1.0,"['Beer', 'Wine & Spirits', 'Cafes', 'Coffee & ...",57.0,oh heaven pleasantly surprised find amazing br...

In [36]:
# vectorization with TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

# build the model, memory overflow -> limit words
tfidf_model = TfidfVectorizer(max_features=20000)

# fit and transform 
tfidf_matrix = tfidf_model.fit_transform(m1["cleaned_text"])

tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_model.get_feature_names_out())

# Save the TF-IDF results
tfidf_df.to_parquet("tfidf_yelp_reviews.parquet", index=False)

In [33]:
tfidf_df

,10,100,1000,1000th,100th,101,102,104,105,10a,...,zoom,zorba,zozo,zsa,zucchini,zudars,zukku,zuppa,zydeco,étouffée
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20229,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20230,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20232,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
tfidf_df = pd.read_parquet("tfidf_yelp_reviews.parquet")